name: Build Plugin
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build updated plugins
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout
      if: ${{ !env.ACT }}
      uses: actions/checkout@8230315d06ad95c617244d2f265d237a1682d445
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
        fetch-depth: 0
        submodules: "recursive"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: ./build-zip.sh
